<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HelloWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>FrstSrvlt</description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>other.Test1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test1Servlet</servlet-name>
    <url-pattern>/t1.do
   </url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test2Servlet</display-name>
    <servlet-name>test2Servlet</servlet-name>
    <servlet-class>other.Test2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test2Servlet</servlet-name>
    <url-pattern>/t2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test1Servlet</display-name>
    <servlet-name>Test1Servlet</servlet-name>
    <servlet-class>other.Test1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test1Servlet</servlet-name>
    <url-pattern>/t.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test3Servlet</display-name>
    <servlet-name>Test3Servlet</servlet-name>
    <servlet-class>other.Test3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test3Servlet</servlet-name>
    <url-pattern>/t3.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test1</display-name>
    <servlet-name>Test1</servlet-name>
    <servlet-class>test1.Test1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test1</servlet-name>
    <url-pattern>/Test1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginProcessServlet</display-name>
    <servlet-name>LoginProcessServlet</servlet-name>
    <servlet-class>member.LoginProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginProcessServlet</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>a.do</servlet-name>
    <jsp-file>/WEB-INF/내장Test.jsp
    </jsp-file>
    <init-param>
      <param-name>cream</param-name>
      <param-value> strawberries</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>a.do</servlet-name>
    <url-pattern>/a.do</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>cream</param-name>
    <param-value>생크림(wiippiansdasnn)</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>EncodingServlet</display-name>
    <servlet-name>EncodingServlet</servlet-name>
    <servlet-class>encoding.EncodingServlet</servlet-class>
    <init-param>
      <description>init 연습</description>
      <param-name>code</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EncodingServlet</servlet-name>
    <url-pattern>/en.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>asd</display-name>
    <servlet-name>asd</servlet-name>
    <servlet-class>asd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>asd</servlet-name>
    <url-pattern>/asd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemeberBean</display-name>
    <servlet-name>MemeberBean</servlet-name>
    <servlet-class>pojo.MemeberBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemeberBean</servlet-name>
    <url-pattern>/MemeberBean</url-pattern>
    <url-pattern>/MB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberBean</display-name>
    <servlet-name>MemberBean</servlet-name>
    <servlet-class>pojo.MemberBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberBean</servlet-name>
    <url-pattern>/MemberBean</url-pattern>
  </servlet-mapping>
</web-app>